In [5]:
try:
    from pyspark.sql import SparkSession
except:
    import findspark
    findspark.init()
    from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder\
    .master("local[4]")\
    .appName("Seminario de Estadistica") \
    .getOrCreate()

In [11]:
data=spark.read.csv("titanic_eval.csv",sep=",",header=True)
print(type(data))

<class 'pyspark.sql.dataframe.DataFrame'>

In [12]:
#data.write.parquet("tinatinic.parquet")

In [13]:
data=spark.read.parquet("tinatinic.parquet")

In [14]:
data.show(2)

+--------+----+----+------------------+-----+-------+-----+-------+-----------+-----+
|survived| sex| age|n_siblings_spouses|parch|   fare|class|   deck|embark_town|alone|
+--------+----+----+------------------+-----+-------+-----+-------+-----------+-----+
|       0|male|35.0|                 0|    0|   8.05|Third|unknown|Southampton|    y|
|       0|male|54.0|                 0|    0|51.8625|First|      E|Southampton|    y|
+--------+----+----+------------------+-----+-------+-----+-------+-----------+-----+
only showing top 2 rows