In [31]:
import pyspark.sql.functions as f

In [32]:
try:
    from pyspark.sql import SparkSession
except:
    import findspark
    findspark.init()
    from pyspark.sql import SparkSession

In [37]:
a=1
b=0
try:
    a/b
except:
    print("divide entre un numero que no sea cero")
print("hola y esto es importante")

divide entre un numero que no sea cero
hola y esto es importante

In [38]:
spark=SparkSession.builder\
    .master("local[4]")\
    .appName("Seminario de Estadistica") \
    .getOrCreate()

In [39]:
spark=SparkSession.builder.master("local[4]").appName("Seminario de Estadistica I").getOrCreate()

In [68]:
data=spark.read.csv("titanic_train.csv",sep=",",header=True,inferSchema=True)
print(type(data))

<class 'pyspark.sql.dataframe.DataFrame'>

In [69]:
data.printSchema()

root
 |-- Start.Time: long (nullable = true)
 |--  Stop Time: long (nullable = true)
 |-- survived: integer (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: double (nullable = true)
 |-- n_siblings_spouses: integer (nullable = true)
 |-- parch: integer (nullable = true)
 |-- fare: double (nullable = true)
 |-- class: string (nullable = true)
 |-- deck: string (nullable = true)
 |-- embark_town: string (nullable = true)
 |-- alone: string (nullable = true)

In [65]:
print(type(data))

<class 'pyspark.sql.dataframe.DataFrame'>

In [66]:
data.count()
data.show(10)

+-------------+-------------+--------+------+----+------------------+-----+-------+------+-------+-----------+-----+
|   Start Time|    Stop Time|survived|   sex| age|n_siblings_spouses|parch|   fare| class|   deck|embark_town|alone|
+-------------+-------------+--------+------+----+------------------+-----+-------+------+-------+-----------+-----+
|1558541200360|1558541200369|       0|  male|22.0|                 1|    0|   7.25| Third|unknown|Southampton|    n|
|1558541200364|1558541200402|       1|female|38.0|                 1|    0|71.2833| First|      C|  Cherbourg|    n|
|1558541200437|1558541200438|       1|female|26.0|                 0|    0|  7.925| Third|unknown|Southampton|    y|
|1558541200402|1558541200439|       1|female|35.0|                 1|    0|   53.1| First|      C|Southampton|    n|
|1558541200300|1558541200564|       0|  male|28.0|                 0|    0| 8.4583| Third|unknown| Queenstown|    y|
|1558541200498|1558541200595|       0|  male| 2.0|                 3|    1| 21.075| Third|unknown|Southampton|    n|
|1558541200604|1558541200604|       1|female|27.0|                 0|    2|11.1333| Third|unknown|Southampton|    n|
|1558541200604|1558541200604|       1|female|14.0|                 1|    0|30.0708|Second|unknown|  Cherbourg|    n|
|1558541200604|1558541200604|       1|female| 4.0|                 1|    1|   16.7| Third|      G|Southampton|    n|
|1558541200604|1558541200604|       0|  male|20.0|                 0|    0|   8.05| Third|unknown|Southampton|    y|
+-------------+-------------+--------+------+----+------------------+-----+-------+------+-------+-----------+-----+
only showing top 10 rows

In [73]:
new_column= list(map(lambda x: x.replace(".", ""), data.columns))
data=data.toDF(*new_column)

In [78]:
data=data.withColumn("tiempoincio",f.to_timestamp((f.col("StartTime")/1000).cast("timestamp"), 
                                        'yyyy-MM-dd HH:mm:ss')) \

In [81]:
data.select("tiempoincio").show(2)

+-------------------+
|        tiempoincio|
+-------------------+
|2019-05-22 11:06:40|
|2019-05-22 11:06:40|
+-------------------+
only showing top 2 rows

In [77]:
data.select("n_siblings_spouses")

DataFrame[n_siblings_spouses: int]

In [58]:
data.createOrReplaceTempView("tablaprueba")

In [62]:
spark.sql("SELECT count(*) from tablaprueba").show()

+--------+
|count(1)|
+--------+
|     264|
+--------+

In [12]:
#data.write.parquet("tinatinic.parquet")

In [13]:
data=spark.read.parquet("tinatinic.parquet")

In [14]:
data.show(2)

+--------+----+----+------------------+-----+-------+-----+-------+-----------+-----+
|survived| sex| age|n_siblings_spouses|parch|   fare|class|   deck|embark_town|alone|
+--------+----+----+------------------+-----+-------+-----+-------+-----------+-----+
|       0|male|35.0|                 0|    0|   8.05|Third|unknown|Southampton|    y|
|       0|male|54.0|                 0|    0|51.8625|First|      E|Southampton|    y|
+--------+----+----+------------------+-----+-------+-----+-------+-----------+-----+
only showing top 2 rows

In [17]:
data.select("sex").show(2)

+----+
| sex|
+----+
|male|
|male|
+----+
only showing top 2 rows

In [18]:
data.createOrReplaceTempView("titanic")

In [20]:
spark.sql("SELECT COUNT(*)  from titanic").show()

+--------+
|count(1)|
+--------+
|     264|
+--------+

In [24]:
data.printSchema()
data.count()

root
 |-- survived: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: string (nullable = true)
 |-- n_siblings_spouses: string (nullable = true)
 |-- parch: string (nullable = true)
 |-- fare: string (nullable = true)
 |-- class: string (nullable = true)
 |-- deck: string (nullable = true)
 |-- embark_town: string (nullable = true)
 |-- alone: string (nullable = true)

264

In [23]:
data.groupBy("sex")\
    .count()\
    .show()

+------+-----+
|   sex|count|
+------+-----+
|female|   97|
|  male|  167|
+------+-----+

In [ ]:
(data.select("sex"))

In [ ]:
df1.groupBy("timestop","SrcIP")\
    .agg(f.sum("Packets").alias("Paquetes"),f.sum("Bytes").alias("Bytes")) \